<ion-view>
	<ion-tabs tabs-style="tabs-icon-top" tabs-type="tabs-positive">
		<ion-tab title="Info" ui-sref="app.users.edit.main({userId: usersEdit.user._id})"
				 icon-on="ion-ios7-person" icon-off="ion-ios7-person-outline">
			<ion-nav-view name="user-edit-main"></ion-nav-view>
		</ion-tab>
		<ion-tab title="Notes" ui-sref="app.users.edit.notes({userId: usersEdit.user._id})"
				 badge="usersEdit.user.notes.length" badge-style="badge-positive"
				 icon-on="ion-ios7-albums" icon-off="ion-ios7-albums-outline">
			<ion-nav-view name="user-edit-notes"></ion-nav-view>
		</ion-tab>
	</ion-tabs>
</ion-view>