<ion-nav-view>
    <ion-view>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Login</h1>
        </ion-header-bar>
        <ion-content  ng-controller="LoginCtrl">
            <form name="vm.loginForm" novalidate="" ng-submit="login(credentials)">
                <div class="list">
                    <label class="item item-input"
                           ng-class="{ 'has-error' : vm.loginForm.userName.$invalid && vm.loginForm.$submitted}">
                        <span class="input-label">Username</span>
                        <input name="userName" type="text" ng-model="credentials.userName" ng-required="true">
                    </label>
                    <div class="form-errors"
                         ng-show="vm.loginForm.userName.$error && vm.loginForm.$submitted"
                         ng-messages="vm.loginForm.userName.$error"
                         ng-messages-include="app/components/form/errors.html">
                    </div>
                    <label class="item item-input"
                           ng-class="{ 'has-error' : vm.loginForm.userPassword.$invalid && vm.loginForm.$submitted}">
                        <span class="input-label">Password</span>
                        <input name="userPassword" type="password" ng-model="credentials.userPassword" ng-required="true">
                    </label>
                    <div class="form-errors"
                         ng-show="vm.loginForm.userPassword.$error && vm.loginForm.$submitted"
                         ng-messages="vm.loginForm.userPassword.$error"
                         ng-messages-include="app/components/form/errors.html">
                    </div>
                    <label class="item">
                        <button class="button button-block button-positive" type="submit">Sign in</button>
                    </label>
                </div>
            </form>
        </ion-content>
    </ion-view>
</ion-nav-view>
