<ion-view title="Users list">
    <ion-nav-buttons side="secondary">
        <a class="button icon icon-right ion-person-add button-calm" ui-sref="app.users-edit.main"></a>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form name="searchUsers">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="usersFilter" placeholder="filter users">
            </label>
        </form>
        <div class="spacer"></div>
        <ion-list>
            <ion-item ng-repeat="user in users|filter:{$: usersFilter} track by user._id"
					  class="item-avatar item-button-right"
					  ui-sref="app.users.edit.main({userId: user._id})"
                      show-delete="shouldShowDelete">
                <img ng-src="{{user.picture}}">
                <h2>{{user.name.first}} {{user.name.last}}</h2>
                <h3>{{user.email}}</h3>
                <p>{{user.description}}</p>
                <ion-option-button class="button button-assertive" ng-click="deleteUser(user._id)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>