<div class="modal">
	<ion-header-bar>
		<h1 class="title">{{modalTitle}}</h1>
	</ion-header-bar>
	<ion-content>
		<label class="item item-input">
			<span class="input-label">Name</span>
			<input type="text" ng-model="note.title">
		</label>
		<label class="item item-input">
			<span class="input-label">Content</span>
			<input type="text" ng-model="note.content">
		</label>
		<button class="button button-full button-positive" ng-click="saveNote(note)">Done</button>
	</ion-content>
</div>