<ion-view title="User notes">
	<ion-nav-buttons side="secondary">
		<a class="button button-clear button-calm" ng-click="addNote()">Add note</a>
	</ion-nav-buttons>
	<ion-content padding="true" has-tabs="true" class="has-header">
		<div ng-if="!notes.length" class="card padding">
			No notes yet... Maybe you want to add one?
		</div>
		<ion-list class="list-inset">
			<ion-item ng-repeat="note in notes track by $index">
				<h2 class="row">
					<div class="col-75">{{note.title}}</div>
					<div class="col-25">{{note.time|date}}</div>
				</h2>
				<p>{{note.content}}</p>
				<ion-option-button class="button button-assertive" ng-click="deleteNote($index)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>

