<ion-view title="{{usersEditMain.title}}">
	<ion-content padding="true" has-tabs="true" class="has-header">
		<form name="usersEditMain.userForm" novalidate="" ng-submit="save()">
			<div style="text-align: center">
				<img ng-src="{{usersEditMain.getPhoto()}}">
			</div>
			<div class="spacer" style="width: 300px; height: 23px;"></div>
			<div class="list">
				<label class="item item-input"
					   ng-class="{ 'has-error' : usersEditMain.userForm.first_name.$invalid && usersEditMain.userForm.$submitted}">
					<span class="input-label">Name:</span>
					<input type="text" placeholder="" name="first_name" ng-model="editedUser.name.first" ng-required="true">
				</label>
				<div class="form-errors"
					 ng-show="usersEditMain.userForm.first_name.$error && usersEditMain.userForm.$submitted"
					 ng-messages="usersEditMain.userForm.first_name.$error"
					 ng-messages-include="app/components/form/errors.html">
				</div>
				<label class="item item-input"
					   ng-class="{ 'has-error' : usersEditMain.userForm.last_name.$invalid && usersEditMain.userForm.$submitted}">
					<span class="input-label">Surname:</span>
					<input type="text" placeholder=""  name="last_name" ng-model="editedUser.name.last" ng-required="true">
				</label>
				<div class="form-errors"
					 ng-show="usersEditMain.userForm.last_name.$error && usersEditMain.userForm.$submitted"
					 ng-messages="usersEditMain.userForm.last_name.$error"
					 ng-messages-include="app/components/form/errors.html">
				</div>
				<label class="item item-input"
					   ng-class="{ 'has-error' : usersEditMain.userForm.email.$invalid && usersEditMain.userForm.$submitted}">
					<span class="input-label">E-mail:</span>
					<input type="email" placeholder="" name="email" ng-model="editedUser.email" ng-pattern="usersEditMain.emailRegex">
				</label>
				<div class="form-errors"
					 ng-show="usersEditMain.userForm.email.$error && usersEditMain.userForm.$submitted"
					 ng-messages="usersEditMain.userForm.email.$error"
					 ng-messages-include="app/components/form/errors.html">
				</div>
				<label class="item item-input item-stacked-label">
					<span class="input-label">Description:</span>
					<textarea placeholder="" name="description" ng-model="editedUser.description"> </textarea>
				</label>
			</div>
			<button class="button button-positive button-block" type="submit">Save</button>
			<a class="button button-stable button-block" ng-click="goToList()">Cancel</a>
		</form>
	</ion-content>
</ion-view>